.App {
  text-align: center;
  padding: 20px;
  /* width: 100vw; */
  /* height: 100vh; */
}

.ant-card-meta-detail {
  overflow-y: scroll !important;
}
.ant-card-meta-detail::-webkit-scrollbar{
  display: none;
}